.footer{
   margin-top: 20px;
   padding: 50px;
  
}

a{
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}

.logo{
    color: black;
    
    padding-left: 100px;
    padding-right: 200px;
}